{% extends 'dashboard/base/index.html'%}
{% load static %}

{% block title %}Audit{% endblock %}
{% block subtitle %}Audit{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card card-default">
            <div class="card-header card-header-border-bottom">
                <h2>Basic Table</h2>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="text-center">
                        <tr>
                            <th>S.N</th>
                            <th>Who</th>
                            <th>Action</th>
                            <th>Item</th>
                            <th>Item Name</th>
                            <th>IP</th>
                            <th>Ago</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% for audit in object_list %}
                        <tr>
                            <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                            <td>{{ audit.user }}</td>
                            <td><span class="badge badge-primary">{{ audit.action }}</span></td>
                            <td><span class="badge badge-success">{{ audit.model_type }}</span></td>
                            <td>{{ audit.object_str }}</td>
                            <td>{{ audit.ip }}</td>
                            <td>{{ audit.created_at|timesince }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}