{% extends "dashboard/base/index.html" %}

{% load static %}

{% block title %}Designations{% endblock %}

{% block subtitle %}Designations{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card card-default">
            <div class="card-header card-header-border-bottom">
                <h2>Basic Table</h2>
                <div style="margin-left:auto; text-align: right">
                    <a href="{% url 'dashboard:designations-create' %}" class="btn btn-outline-primary">
                        <i class="fa fa-plus"></i>&nbsp; Add Designation
                    </a>
                </div>
            </div>
            <div class="card-body">
                <p class="mb-5">Documentation and examples for opt-in styling of tables (given their prevalent use in JavaScript plugins) with Bootstrap <a href="http://getbootstrap.com/docs/4.1/content/tables/"
                     target="_blank"> more details.</a></p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for designation in object_list %}
                        <tr>
                            <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                            <td>{{ designation.name }}</td>
                            <td>{{ designation.position }}</td>
                            <td>
                                <div class="btn-group" role="group" style="margin:auto;">
                                    <a href="{% url 'dashboard:designations-update' designation.id %}" class="btn-sm btn btn-info btn-success-space" data-toggle="tooltip" data-original-title='Modify'>
                                        <i class="fa fa-pencil-alt"></i>
                                    </a>
                                    {% if request.user.is_superuser %}
                                    <a href="{% url 'dashboard:designations-delete' designation.id %}" class="btn-sm btn btn-danger delete-link" data-toggle="tooltip" data-original-title='Delete' >
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
